<div class="card">
    <div class="card-header">
        <h3 class="card-title">Default Card Example</h3>
        <div class="card-tools">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="badge badge-primary">Label</span>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        The body of the card
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        The footer of the card
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->

<div class="info-box">
    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Messages</span>
        <span class="info-box-number">1,410</span>
    </div>
</div>
<div class="info-box bg-success">
    <span class="info-box-icon"><i class="far fa-flag"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Bookmarks</span>
        <span class="info-box-number">410</span>
    </div>
</div>

<div class="info-box bg-gradient-warning">
    <span class="info-box-icon"><i class="far fa-copy"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Uploads</span>
        <span class="info-box-number">13,648</span>
    </div>
</div>



<div class="info-box">
    <span class="info-box-icon bg-info"><i class="far fa-bookmark"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Bookmarks</span>
        <span class="info-box-number">41,410</span>
        <div class="progress">
            <div class="progress-bar bg-info" style="width: 70%"></div>
        </div>
        <span class="progress-description">
            70% Increase in 30 Days
        </span>
    </div>
</div>

<div class="info-box bg-success">
    <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Likes</span>
        <span class="info-box-number">41,410</span>
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
        <span class="progress-description">
            70% Increase in 30 Days
        </span>
    </div>
</div>

<div class="info-box bg-gradient-warning">
    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Events</span>
        <span class="info-box-number">41,410</span>
        <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
        <span class="progress-description">
            70% Increase in 30 Days
        </span>
    </div>
</div>



<div class="small-box bg-info">
    <div class="inner">
        <h3>150</h3>
        <p>New Orders</p>
    </div>
    <div class="icon">
        <i class="fas fa-shopping-cart"></i>
    </div>
    <a href="#" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
    </a>
</div>

<div class="small-box bg-gradient-success">
    <div class="inner">
        <h3>44</h3>
        <p>User Registrations</p>
    </div>
    <div class="icon">
        <i class="fas fa-user-plus"></i>
    </div>
    <a href="#" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
    </a>
</div>

<div class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
</div>
<div class="overlay dark">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
</div>
<!-- Main node for this component -->
<div class="timeline">
    <!-- Timeline time label -->
    <div class="time-label">
        <span class="bg-green">23 Aug. 2019</span>
    </div>
    <div>
        <!-- Before each timeline item corresponds to one icon on the left scale -->
        <i class="fas fa-envelope bg-blue"></i>
        <!-- Timeline item -->
        <div class="timeline-item">
            <!-- Time -->
            <span class="time"><i class="fas fa-clock"></i> 12:05</span>
            <!-- Header. Optional -->
            <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
            <!-- Body -->
            <div class="timeline-body">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                weebly ning heekya handango imeem plugg dopplr jibjab, movity
                jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                quora plaxo ideeli hulu weebly balihoo...
            </div>
            <!-- Placement of additional controls. Optional -->
            <div class="timeline-footer">
                <a class="btn btn-primary btn-sm">Read more</a>
                <a class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
    <!-- The last icon means the story is complete -->
    <div>
        <i class="fas fa-clock bg-gray"></i>
    </div>
</div>
